# Firefly III specific configuration
# These values are loaded via env_file in docker-compose.yml

APP_ENV=local
APP_DEBUG=false
APP_URL=https://firefly.homelab.local
TRUSTED_PROXIES=**
LOG_CHANNEL=stack
COOKIE_DOMAIN=firefly.homelab.local
COOKIE_SECURE=true
SEND_REGISTRATION_MAIL=false
MUST_CONFIRM_ACCOUNT=false
DEFAULT_LANGUAGE=fr_FR
DEFAULT_LOCALE=equal
TZ=Europe/Paris
